@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  @apply bg-white text-black antialiased;
}

html {
  scroll-behavior: smooth;
}

a {
  @apply transition-colors duration-200 hover:text-blue-600;
}
